.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 60vw;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
    margin-top: 10%;
    border-radius: 10px;
}
.googlebutton{
    height: 40px;
    width: 20%;
    font-weight: 900;
    background-color: rgb(64, 64, 219);
    color: white;
    margin: 3%;
}
.input{
    height: 30px;
    width: 35%;
    margin-top: 5%;
}
.or{
    font-weight: 900;

}
